<script type="x/template" id="vue-feedback-list-entry">
    <div class="feedback clearfix" :class="{'loading':isLoading}">
        <div class="feedback-options" v-if="!editableFeedback && showControls">
            <span class="btn btn-sm btn-danger"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-original-title="{{ trans("Feedback::Feedback.moderationMessage") }}"
                  v-if="!feedback.isVisible">
                <i class="fa fa-eye-slash"></i>
            </span>

            <span class="btn btn-sm btn-danger"
                  ref="editButton"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-original-title="{{ isReply ? trans("Feedback::Feedback.editReply") : trans("Feedback::Feedback.editReview") }}"
                  @click="editFeedback()">
                <i class="fa fa-pencil"></i>
            </span>

            <span class="btn btn-sm btn-danger"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-original-title="{{ isReply ? trans("Feedback::Feedback.deleteReply") : trans("Feedback::Feedback.deleteReview") }}"
                  @click="showDeleteConfirmation()">
                <i class="fa fa-trash-o"></i>
            </span>
        </div>

        <feedback-comment
                v-if="!editableFeedback"
                :feedback="feedback"
                :item-attributes="itemAttributes"
                :authenticated-user="authenticatedUser"
                :is-reply="isReply"
                :show-controls="showControls"
                @delete="$emit('delete', $event)"
                :padding-classes="paddingClasses"
                :padding-inline-styles="paddingInlineStyles"
                :options="options">
        </feedback-comment>

        <div v-if="!!editableFeedback && isReply">
            <div class="form-group">
                <textarea class="form-control"
                          rows="3"
                          placeholder="{{ trans("Feedback::Feedback.replyMessage") }}"
                          v-model="editableFeedback.message">
                </textarea>
            </div>
            <button class="btn btn-appearance" @click="saveEditableFeedback()">{{ trans("Feedback::Feedback.editReply") }}</button>
            <button class="btn btn-secondary feedback-edit-cancel" @click="editableFeedback = null">{{ trans("Feedback::Feedback.cancel") }}</button>
        </div>

        <div v-if="!!editableFeedback && !isReply">
            {% set uid = uid() %}
            <div class="stars">
                <input class="star star-5" id="star-{{ uid }}-5" type="radio" value="5" name="ratingValue" v-model="editableFeedback.ratingValue">
                <label class="star star-5" for="star-{{ uid }}-5"></label>
                <input class="star star-4" id="star-{{ uid }}-4" type="radio" value="4" name="ratingValue" v-model="editableFeedback.ratingValue">
                <label class="star star-4" for="star-{{ uid }}-4"></label>
                <input class="star star-3" id="star-{{ uid }}-3" type="radio" value="3" name="ratingValue" v-model="editableFeedback.ratingValue">
                <label class="star star-3" for="star-{{ uid }}-3"></label>
                <input class="star star-2" id="star-{{ uid }}-2" type="radio" value="2" name="ratingValue" v-model="editableFeedback.ratingValue">
                <label class="star star-2" for="star-{{ uid }}-2"></label>
                <input class="star star-1" id="star-{{ uid }}-1" type="radio" value="1" name="ratingValue" v-model="editableFeedback.ratingValue">
                <label class="star star-1" for="star-{{ uid }}-1"></label>
            </div>
            <div class="form-group">
                <input type="text"
                       class="form-control"
                       name="title"
                       v-model="editableFeedback.title"
                       placeholder="{{ trans("Feedback::Feedback.title") }}"
                       required>
            </div>
            <div class="form-group">
                <textarea class="form-control"
                          name="message" rows="3"
                          placeholder="{{ trans("Feedback::Feedback.title") }}"
                          v-model="editableFeedback.message"></textarea>
            </div>

            <button class="btn btn-appearance" @click="saveEditableFeedback()">{{ trans("Feedback::Feedback.editReview") }}</button>
            <button class="btn btn-secondary feedback-edit-cancel" @click="editableFeedback = null">{{ trans("Feedback::Feedback.cancel") }}</button>
        </div>
    </div>
</script>
