{# {{ item[0].documents[0].data.variation.id }}  #}

<section id="feedbacks">

    <h1 class="title"> {{ trans("Feedback::Feedback.customerReviews") }}<small class="feedback-average-count"> ({{ counts.ratingsCountTotal }})</small></h1>

    <div class="feedback-stars-average" id="feedback-stars-average">
        <div class="feedback-stars-background clearfix">
            {% for i in 1..5 %}
                <div class="feedback-star"><i class="fa fa-star"></i></div>
            {% endfor %}
        </div>
        <div class="feedback-stars-overlay-wrap" style="width:{{ ( counts.averageValue * 100 ) / 5 }}%">
            <div class="feedback-stars-overlay clearfix">
                {% for i in 1..5 %}
                    <div class="feedback-star"><i class="fa fa-star"></i></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="row my-2">

        <div class="col-sm-6">

            <div id="feedback-bars">

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">5 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:{{ counts.ratingsCountOf5 / counts.highestCount * 100 }}%"></div>
                    </div>
                    <p class="feedback-bar-text-after">{{ counts.ratingsCountOf5 }}</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">4 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:{{ counts.ratingsCountOf4 / counts.highestCount * 100 }}%"></div>
                    </div>
                    <p class="feedback-bar-text-after">{{ counts.ratingsCountOf4 }}</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">3 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:{{ counts.ratingsCountOf3 / counts.highestCount * 100}}%"></div>
                    </div>
                    <p class="feedback-bar-text-after">{{ counts.ratingsCountOf3 }}</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">2 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:{{ counts.ratingsCountOf2 / counts.highestCount * 100 }}%"></div>
                    </div>
                    <p class="feedback-bar-text-after">{{ counts.ratingsCountOf2 }}</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">1 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:{{ counts.ratingsCountOf1 / counts.highestCount * 100 }}%"></div>
                    </div>
                    <p class="feedback-bar-text-after">{{ counts.ratingsCountOf1 }}</p>
                </div>

            </div>

        </div>


        <div class="col-sm-6">


            {% if authenticatedContact.check %}

                <form id="createFeedback" class="createFeedback" action="" method="">
                    <div class="stars">
                        {% for i in 5..1 %}

                            <input class="star star-{{ i }}" id="star-{{ i }}" type="radio" value="{{ i }}" name="ratingValue" {{ options.allowNoRatingFeedback ? '' : 'required' }}/>
                            <label class="star star-{{ i }}" for="star-{{ i }}"></label>

                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title" placeholder="{{ trans("Feedback::Feedback.title") }}" required {{ authenticatedContact.limitReached ? 'disabled' : '' }}>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="{{ trans("Feedback::Feedback.reviewMessage") }}" {{ authenticatedContact.limitReached ? 'disabled' : '' }}></textarea>
                    </div>

                    <input type="hidden" name="targetId" value="{{ item[0].documents[0].data.variation.id }}">
                    <input type="hidden" name="type" value="review">

                    {% if authenticatedContact.limitReached %}

                        <div class="feedback-tooltip-wrapper" data-toggle="tooltip" data-placement="top" data-original-title="{{ trans("Feedback::Feedback.maximumNumberOfFeedbacksReached") }}" >
                            <button type="submit" class="btn btn-primary" {{ authenticatedContact.limitReached ? 'disabled' : '' }}>{{ trans("Feedback::Feedback.submitReview") }}</button>
                        </div>

                    {% else %}

                        <button type="submit" class="btn btn-primary">{{ trans("Feedback::Feedback.submitReview") }}</button>

                    {% endif %}

                </form>

            {% else %}

                <div class="alert alert-info">
                    {{ trans("Feedback::Feedback.logInCustomerReviews") }}
                </div>

                <a class="btn btn-primary" data-toggle="modal" href="#login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="hidden-xs-down">{{ trans("Feedback::Feedback.login") }}</span>
                </a>

            {% endif %}
        </div>
    </div>

    <hr>

    <div id="feedback-list-reviews" class="feedback-list">

        {% if authenticatedContact.check and feedbacks %}

            <div id="feedback-list-of-user">
                {% include 'Feedback::DataProvider.Feedbacks.FeedbacksList.twig' %}
            </div>

        {% endif %}

        {# List of feedbacks gets loaded here via js #}

    </div>


    <!-- Modal -->
    <div class="modal fade" id="feedbackConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h5 class="modal-title" id="exampleModalLabel">Confirm feedback delete</h5>

                </div>
                <div class="modal-body">
                    <p>{{ trans("Feedback::Feedback.deleteReviewConfirmation") }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="deleteFeedback()">Yes, delete it</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        var itemVariationId = '{{ item[0].documents[0].data.item.id }}';
    </script>

</section>



