

<section id="feedbacks">

    <h1 class="title">Customer reviews <small class="feedback-average-count">(23)</small> {#({{ feedback.count }})#}</h1>

    <div class="feedback-stars-average" id="feedback-stars-average">
        <div class="feedback-stars-background clearfix">
            {% for i in 1..5 %}
                <div class="feedback-star"><i class="fa fa-star"></i></div>
            {% endfor %}
        </div>
        <div class="feedback-stars-overlay-wrap">
            <div class="feedback-stars-overlay clearfix">
                {% for i in 1..5 %}
                    <div class="feedback-star"><i class="fa fa-star"></i></div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="row my-2">

        <div class="col-sm-6">

            <div id="feedback-bars">

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">5 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:100%"></div>
                    </div>
                    <p class="feedback-bar-text-after">35</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">4 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:20%"></div>
                    </div>
                    <p class="feedback-bar-text-after">4</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">3 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:0%"></div>
                    </div>
                    <p class="feedback-bar-text-after">0</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">2 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:10%"></div>
                    </div>
                    <p class="feedback-bar-text-after">2</p>
                </div>

                <div class="feedback-bar-wrap">
                    <p class="feedback-bar-text-before">1 <i class="fa fa-star"></i></p>
                    <div class="feedback-bar">
                        <div class="feedback-bar-fill" style="width:5%"></div>
                    </div>
                    <p class="feedback-bar-text-after">1</p>
                </div>

            </div>

        </div>


        <div class="col-sm-6">


            {% if authenticatedContact.check %}

                <form id="createFeedback" action="" method="">
                    <div class="stars">
                        {% for i in 5..1 %}
                            <input class="star star-{{ i }}" id="star-{{ i }}" type="radio" value="{{ i }}" name="ratingValue"/>
                            <label class="star star-{{ i }}" for="star-{{ i }}"></label>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="message" name="message" rows="3" placeholder="Review message" required></textarea>
                    </div>

                    <!-- These will be set in a different way in the future. This is only for the showcase -->
                    <input type="hidden" name="feedbackRelationTargetId" value="1">
                    <input type="hidden" name="feedbackRelationSourceType" value="contact">
                    <input type="hidden" name="feedbackRelationTargetType" value="variation">
                    <input type="hidden" name="commentRelationTargetType" value="feedbackComment">
                    <input type="hidden" name="ratingRelationTargetType" value="feedbackRating">

                    <button type="submit" class="btn btn-primary">Submit review</button>
                </form>

            {% else %}

                <div class="alert alert-info">
                    Log in to write a customer review
                </div>

                <a class="btn btn-primary" data-toggle="modal" href="#login">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="hidden-xs-down">Log in</span>
                </a>

            {% endif %}





        </div>

    </div>

    {#<h4 class="maintitle">More reviews</h4>#}

    <hr>

    <div id="feedbacks-list">

        {% for feedback in feedbacks %}

            <div class="feedback clearfix" id="feedback-{{ feedback.id }}" data-feedbackid="{{ feedback.id }}">

                {% if feedback.sourceRelation[0].feedbackRelationSourceId == authenticatedContact.id  %}
                    <div class="feedback-options">
                        <span class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Edit review"
                            onclick="editFeedback({{ feedback.id }})"
                        ><i class="fa fa-pencil"></i></span>

                        <span class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top" data-original-title="Delete review"
                           onclick="deleteFeedback({{ feedback.id }})"
                        ><i class="fa fa-trash-o"></i></span>

                    </div>
                {% endif %}

                <div class="feedback-creator">
                    <i class="feedback-user-icon fa fa-2x fa-user"></i>
                    <p class="feedback-user-name">{{ feedback.sourceRelation[0].sourceRelationLabel }}</p>
                </div>

                <div class="feedback-comment">
                    <p class="feedback-comment-title">{{ feedback.title }}</p>
                    <div class="feedback-comment-rating" data-ratingValue="{{ feedback.feedbackRating.rating.ratingValue }}">
                         {#This next line is all in one line because if I change the line it adds spaces between the stars#}
                        {% for i in 1..5 %}{{ i <= feedback.feedbackRating.rating.ratingValue ? '<i class="fa fa-star full"></i>' : '<i class="fa fa-star-o empty"></i>' }}{% endfor %}
                    </div>
                    <p class="feedback-comment-text">{{ feedback.feedbackComment.comment.message|nl2br }}</p>
                </div>


            </div>

        {% else %}

            <div class="alert alert-info">
                There are no feedbacks for this product
            </div>

        {% endfor %}
    </div>
</section>