{% if feedback.sourceRelation[0].feedbackRelationSourceId == authenticatedContact.id and authenticatedContact.id > 0  %}
    <div class="feedback-options">
        {% if feedback.isVisible == 0 %}
            <span class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="{{ trans("Feedback::Feedback.moderationMessage") }}">
                <i class="fa fa-eye-slash"></i>
            </span>
        {% endif %}

        <span class="btn btn-sm btn-secondary"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{ isReply ? trans("Feedback::Feedback.editReply") : trans("Feedback::Feedback.editReview") }}"
              onclick="editFeedback({{ feedback.id }}, {{ isReply ? 'true' : 'false' }}, '{{ trans("Feedback::Feedback.cancel") }}', '{{ isReply ? trans("Feedback::Feedback.replyMessage") : trans("Feedback::Feedback.reviewMessage") }}', '{{ isReply ? trans("Feedback::Feedback.editReply") : trans("Feedback::Feedback.editReview") }}', '{{ trans("Feedback::Feedback.title") }}')"
        ><i class="fa fa-pencil"></i></span>

        <span class="btn btn-sm btn-secondary"
              data-toggle="tooltip"
              data-placement="top"
              data-original-title="{{ isReply ? trans("Feedback::Feedback.deleteReply") : trans("Feedback::Feedback.deleteReview") }}"
              onclick="openFeedbackConfirmDelete({{ feedback.id }}, '{{ isReply ? trans("Feedback::Feedback.deleteReplyConfirmation") : trans("Feedback::Feedback.deleteReviewConfirmation") }}')"
        ><i class="fa fa-trash-o"></i></span>

    </div>
{% endif %}