<script type="x/template" id="vue-feedback-orderitem-form">
    <!-- Modal -->
    {% set uid = uid() %}
    <div class="modal fade"
         ref="orderItemFeedbackModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="feedbackOrderItem-{{ uid }}"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h3 class="modal-title" id="feedbackConfirmDeleteLabel-{{ uid }}">{{ trans("Feedback::Feedback.customerReviews") }}</h3>
                </div>
                <div class="modal-body">
                    METTFALKEN SIND IN DIESEM SPACE
                    FUCK FEEDBACK
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ trans("Feedback::Feedback.cancel") }}</button>
                    <button type="button" class="btn btn-primary btn-appearance">{{ trans("Feedback::Feedback.submitReview") }}</button>
                </div>
            </div>
        </div>
    </div>
</script>
