<script type="x/template" id="vue-feedback-comment">
<div class="feedback-comment">

    <div v-if="!isReply">
        <p class="feedback-comment-title">${ feedback.title }</p>

        <div class="feedback-rating" v-if="feedback.feedbackRating.rating.ratingValue > 0">
            {% for i in 1..5 %}
                <i class="fa fa-star" :class="{full: feedback.feedbackRating.rating.ratingValue >= {{ i }}, empty: feedback.feedbackRating.rating.ratingValue < {{ i }}}"></i>
            {% endfor %}
        </div>

        <div class="feedback-attributes-list">
            <p>
                <span class="feedback-verified-tag"
                      v-if="isPurchased">
                    {{ trans("Feedback::Feedback.verifiedPurchase") }}
                </span>

                <span class="feedback-attributes" v-for="variationAttribute in variationAttributes">
                    ${ variationAttribute.name }: ${ variationAttribute.value }
                </span>
            </p>
        </div>
    </div>

    <p class="feedback-comment-text" v-html="message"></p>

    <p class="feedback-info">

        <span class="feedback-info-segment">
            <strong>
                <span class="feedback-admin"
                      data-toggle="tooltip"
                      data-placement="top"
                      data-original-title="{{ trans("Feedback::Feedback.shopManagerLabel") }}"
                      v-if="feedback.sourceRelation[0].feedbackRelationType === 'user'">
                        <i class="fa fa-check-square"></i>
                        ${ feedback.sourceRelation[0].sourceRelationLabel }
                </span>
                <span v-else-if="feedback.sourceRelation[0].feedbackRelationSourceId === 0">
                    {{ trans("Feedback::Feedback.guestName") }}
                </span>
                <span v-else>
                    ${ displayName }
                </span>
            </strong>
        </span>

        {% if config('Feedback.timestampVisibility') == 'true' %}
            <span class="feedback-info-segment">
                <i class="fa fa-calendar text-muted"></i>
                {% set dateFormat = trans("Ceres::Template.devDateFormatMoment") %}
                {% if dateFormat is empty %}
                    {% set dateFormat = "DD.MM.YYYY" %}
                {% endif %}
                ${ feedback.createdAt | moment("{{ dateFormat }}") }
            </span>
        {% endif %}

        <span class="feedback-info-segment btn btn-sm btn-secondary"
              @click="replyFormVisible = !replyFormVisible"
              v-if="!isReply && authenticatedUser.isLoggedIn">
            {{ trans("Feedback::Feedback.addComment") }}
        </span>

        <span class="feedback-info-segment btn btn-sm btn-secondary"
              @click="replyListVisible = !replyListVisible"
              v-if="!!feedback.replies && feedback.replies.length > 0">
            {{ trans("Feedback::Feedback.viewComments") }} (${ feedback.replies.length })
        </span>

    </p>

    <div class="feedback-add-reply" v-if="replyFormVisible && !isReply && authenticatedUser.isLoggedIn">

        <div class="form-group">
            <textarea class="form-control"
                      name="message"
                      rows="3"
                      v-model="replyMessage"
                      placeholder="{{ trans("Feedback::Feedback.commentMessage") }}">
            </textarea>
        </div>

        <button class="btn btn-primary" @click="createReply()" :disabled="!replyMessage">{{ trans("Feedback::Feedback.submitComment") }}</button>

    </div>


    <div class="feedback-replies" v-if="!!feedback.replies && feedback.replies.length > 0 && replyListVisible">
        <feedback-list-entry
                v-for="reply in feedback.replies"
                :key="reply.id"
                :feedback="reply"
                :item-attributes="itemAttributes"
                :authenticated-user="authenticatedUser"
                :is-reply="true"
                :show-controls="showControls"
                @delete="$emit('delete', $event)">
        </feedback-list-entry>
    </div>
</div>

</script>