<script type="x/template" id="vue-feedback-order-form">
    <!-- Modal -->
    {% set uid = uid() %}
    <div class="modal fade feedback-orderitem-modal"
         ref="orderItemFeedbackModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="feedbackOrderItem-{{ uid }}"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h3 class="modal-title" id="feedbackConfirmDeleteLabel-{{ uid }}">{{ trans("Feedback::Feedback.customerReviews") }}</h3>
                </div>
                <div class="modal-body row">
                    <div class="col-4">
                        <img :alt="item.name" :src="item.image">
                        <div>
                            <template v-for="starId in starIds">
                                <input v-model="feedback.ratingValue"
                                       :class="starId.class"
                                       :id="starId.id"
                                       type="radio"
                                       :value="starId.value"
                                       :disabled="isRated"
                                       name="ratingValue"/>
                                <svg :class="starId.class" :for="starId.id" width="100%" height="100%" viewBox="0 0 31 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M30.5,11.564c0,0.265 -0.156,0.553 -0.469,0.866l-6.544,6.382l1.55,9.014c0.012,0.085 0.018,0.205 0.018,0.361c0,0.252 -0.063,0.466 -0.189,0.64c-0.126,0.174 -0.31,0.261 -0.55,0.261c-0.228,0 -0.469,-0.072 -0.721,-0.216l-8.095,-4.255l-8.095,4.255c-0.264,0.144 -0.505,0.216 -0.721,0.216c-0.253,0 -0.442,-0.087 -0.568,-0.261c-0.126,-0.174 -0.189,-0.388 -0.189,-0.64c0,-0.072 0.012,-0.192 0.036,-0.361l1.55,-9.014l-6.562,-6.382c-0.301,-0.325 -0.451,-0.613 -0.451,-0.866c0,-0.444 0.337,-0.721 1.01,-0.829l9.05,-1.316l4.057,-8.203c0.228,-0.493 0.522,-0.739 0.883,-0.739c0.361,0 0.655,0.246 0.883,0.739l4.057,8.203l9.05,1.316c0.673,0.108 1.01,0.385 1.01,0.829Z" style="fill-rule:nonzero;"/></svg>
                            </template>
                        </div>
                    </div>
                    <div class="col-8">
                        <a :href="item.url">${item.name}</a>

                        <div class="form-group" v-if="!authenticatedUser.isLoggedIn && allowGuestFeedbacks">
                            <input type="text"
                                   v-model="feedback.authorName"
                                   class="form-control"
                                   id="author"
                                   name="author"
                                   :disabled="isRated || limitReached"
                                   placeholder="{{ trans("Feedback::Feedback.authorName") }}">

                            <input type="text"
                                   v-model="feedback.honeypot"
                                   class="form-control"
                                   id="feedback-textfield"
                                   :disabled="isRated || limitReached"
                                   name="feedback-textfield">

                        </div>

                        <div class="form-group">
                            <input type="text"
                                   v-model="feedback.title"
                                   class="form-control"
                                   :class="{'is-invalid': titleMissing}"
                                   id="title"
                                   name="title"
                                   :disabled="isRated || limitReached"
                                   placeholder="{{ trans("Feedback::Feedback.title") }}">

                            <div class="invalid-feedback">{{ trans("Feedback::Feedback.titleRequired") }}</div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control"
                              v-model="feedback.message"
                              id="message"
                              name="message"
                              :rows="rows"
                              :disabled="isRated || limitReached"
                              placeholder="{{ trans("Feedback::Feedback.reviewMessage") }}"></textarea>
                        </div>
                    </div>
                </div>
                <div  class="modal-footer">
                    <button v-if="!isRated && !limitReached" type="button" class="btn btn-primary btn-appearance btn-block" :disabled="isRated" @click="createFeedback()">{{ trans("Feedback::Feedback.submitReview") }}</button>
                    <div v-else-if="limitReached" class="w-100 text-center">
                        {{- trans("Feedback::Feedback.maximumNumberOfFeedbacksReached") -}}
                    </div>
                    <div v-else class="w-100 text-center">
                        {{-  trans("Feedback::Feedback.thankYou") -}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>
