<div class="feedback clearfix" id="feedback-{{ feedback.id }}" data-feedbackid="{{ feedback.id }}">

    {% include 'Feedback::DataProvider.Feedbacks.Components.FeedbackOptions.twig' %}

    {#<div class="feedback-creator">#}
        {#<i class="feedback-user-icon fa fa-2x fa-user"></i>#}

        {#{% if not isReply %}#}
            {#<p class="feedback-user-name">{{ feedback.sourceRelation[0].sourceRelationLabel }}</p>#}
        {#{% endif %}#}
    {#</div>#}

    <div class="feedback-comment">

        {% if not isReply %}
        <p class="feedback-comment-title">{{ feedback.title }}</p>

        <div class="feedback-comment-rating" data-ratingvalue="{{ feedback.feedbackRating.rating.ratingValue }}">
            {% for i in 1..5 %}{{ i <= feedback.feedbackRating.rating.ratingValue ? '<i class="fa fa-star full"></i>' : '<i class="fa fa-star empty"></i>' }}{% endfor %}
        </div>
        {% endif %}

        <p class="feedback-comment-text">{{ feedback.feedbackComment.comment.message|nl2br }}</p>

        <p class="feedback-info">

            <span class="feedback-info-segment">
                <strong>
                {% if feedback.sourceRelation[0].feedbackRelationType == "user" %}

                    <span class="feedback-admin" data-toggle="tooltip" data-placement="top" data-original-title="Shop manager">
                    <i class="fa fa-check-square"></i>
                    {{ feedback.sourceRelation[0].sourceRelationLabel }}
                    </span>

                {% else %}

                    {{ feedback.sourceRelation[0].sourceRelationLabel }}

                {% endif %}
                </strong>
            </span>

            {% if not isReply %}
            <span class="feedback-info-segment" data-toggle="tooltip" data-placement="top" data-original-title="{{ feedback.targetRelation.feedbackRelationTargetId }}"><i class="fa fa-bookmark"></i></span>
            {% endif %}

            {% if options.timestampVisibility %}
                <span class="feedback-info-segment"><i class="fa fa-calendar text-muted"></i> {{ feedback.createdAt|date("d.m.Y") }}</span>
            {% endif %}

            {% if not isReply and authenticatedContact.check %}
            <span class="feedback-info-segment btn btn-sm btn-secondary" onclick="toggleAddReply({{ feedback.id }})">{{ trans("Feedback::Feedback.addComment") }}</span>
            {% endif %}

            {% if feedback.replies is not empty %}
                <span class="feedback-info-segment btn btn-sm btn-secondary" onclick="toggleViewReplies({{ feedback.id }})">{{ trans("Feedback::Feedback.viewComments") }} ({{ feedback.replies|length }})</span>
            {% endif %}

        </p>

        {% if not isReply and authenticatedContact.check %}
        <div class="feedback-add-reply" id="feedback-add-reply-{{ feedback.id }}">
            {% include 'Feedback::DataProvider.Feedbacks.Components.FeedbackAddReply.twig' %}
        </div>
        {% endif %}

        {% if feedback.replies is not empty %}

         <div class="feedback-replies" id="feedback-replies-{{ feedback.id }}">
            {% for feedback in feedback.replies %}
                {% include 'Feedback::DataProvider.Feedbacks.FeedbackSingle.twig' with {isReply: true} %}
            {% endfor %}
         </div>

        {% endif %}

    </div>

</div>